<?xml version="1.0"?>
<config>
    <modules>
        <Ceicom_DemoCheckout>
            <version>0.2.1</version>
        </Ceicom_DemoCheckout>
    </modules>
    <global>        
        <blocks>
            <ceicom_democheckout>
                <class>Ceicom_DemoCheckout_Block</class>
            </ceicom_democheckout>
        </blocks>
        <models>
            <ceicom_democheckout>
                <class>Ceicom_DemoCheckout_Model</class>
            </ceicom_democheckout>
        </models>        
        <helpers>
            <ceicom_democheckout>
                <class>Ceicom_DemoCheckout_Helper</class>
            </ceicom_democheckout>
        </helpers>
    </global>
    <frontend>
        <events>
            <payment_method_is_active>
                <observers>
                    <ceicom_democheckout_payment_method_is_active>
                        <type>singleton</type>
                        <class>Ceicom_DemoCheckout_Model_Observer</class>
                        <method>paymentMethodIsActive</method>
                    </ceicom_democheckout_payment_method_is_active>
                </observers>
            </payment_method_is_active>            
            <sales_model_service_quote_submit_before>
                <observers>
                    <ceicom_democheckout_customer_is_able_to_place_order>
                        <type>singleton</type>
                        <class>Ceicom_DemoCheckout_Model_Observer</class>
                        <method>customerIsAbleToPlaceOrder</method>
                    </ceicom_democheckout_customer_is_able_to_place_order>
                </observers>
            </sales_model_service_quote_submit_before>
        </events>
        <translate>
            <modules>
                <Ceicom_DemoCheckout>
                    <files>
                        <default>Ceicom_DemoCheckout.csv</default>
                    </files>
                </Ceicom_DemoCheckout>
            </modules>
        </translate>
    </frontend>
    <default>
        <ceicom_democheckout>
            <general>
                <message>Sorry, but you can't place an order.</message>
            </general>
        </ceicom_democheckout>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Ceicom_DemoCheckout>
                    <files>
                        <default>Ceicom_DemoCheckout.csv</default>
                    </files>
                </Ceicom_DemoCheckout>
            </modules>
        </translate>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ceicom_democheckout>
                                            <title>Ceicom Demo Checkout</title>
                                        </ceicom_democheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>